{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div id="root">
        <tasks-list title="My tasks"></tasks-list>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}